<launch>
    <node pkg="imu_test" name="imu_node" type="imu_to_pos_node" output="screen">
	<remap from="/IMU_data" to="/imu/data"/>
	</node>
	<node pkg="rviz" name="rviz_hi226" type="rviz" args="-d /home/nvidia/test_imu/src/imu_test/rviz/imu.rviz"/>
	<node pkg="openzen_sensor" name="openzen" type="openzen_sensor_node"/>
</launch>